#
# MAGNETIC Sensor Configuration
#

config COMPASS
	bool "MAGNETIC Sensor"
	default y
	help
	This option enables magnetic sensors  


config COMPASS_YAMAHA
	depends on COMPASS
	tristate "YAMAHA"
	default n
	help
	  This option enables magnetic sensors using YAMAHA driver.
	  It is optimized for s3c6410.

config SENSORS_AK8975C
	tristate "AK8975"
	depends on I2C=y
	depends on COMPASS
	default y
	help
	  If you say yes here you get support for Asahi Kasei's 
	  orientation sensor AK8975.

