#
# Optical Sensor Configuration
#



config OPTICAL                                                              
	bool "Optical Sensor"
	default n
	help
	This option enables proximity & light sensors  
	   

config OPTICAL_GP2A
	depends on OPTICAL
	tristate "GP2A driver for s5pc110"
	default y
	help
	  This option enables proximity & light sensors using gp2a driver.
	  It is optimized for s3c6410.
	  
config OPTICAL_TAOS_TRITON
	depends on OPTICAL
	tristate "TAOS triton driver for s5pc110"
	default n
	help
	  This option enables proximity & light sensors using Texas Advanced Optoelectronic Solutions TAOS Ambient Light Sensor ALS Triton driver.
	  It is under test for s5pc110.
config OPTICAL_CAPELLA_TRITON
	depends on OPTICAL
	tristate "CAPELLA triton driver for s5pc110"
	default n
	help
	  CAPELLA

